resources:
  repositories:
    - repository: templates
      type: github
      name: NSLS-II/profile-collection-ci
      ref: refs/heads/collection-2020-2.0rc7-1
      endpoint: github

jobs:
- template: azure-linux.yml@templates  # Template reference
  parameters:
    beamline_acronym: SRX
